 
div(type="button" data-toggle="dropdown" class="grid-menu-container grid-colchooser dropdown-toggle")
  if leftIconClass != null
    span(class="spritedimage toolbar-icon toolbar-icon-left " + leftIconClass)
  span(class="grid-menu")
    =title
  if isShowRightIcon
    span(class="spritedimage toolbar-icon " + (rightIconClass || "icon-arrowdown-normal"))

ul.dropdown-menu
