.grid-toolbar .grid-toolbar-item-container {
  margin-left: 10px;
  display: inline-block;
}

.grid-toolbar div:first-child {
  margin-left: 0px;
}

.grid-toolbar {
  margin-bottom: 5px;
}

.grid-toolbar .grid-groupmenu-container {
  display: inline-block;
}

.grid-toolbar .grid-filter-container {
  min-width: 151px;
  border: solid 1px #ccc;
  display: inline-block;
  vertical-align: middle;
}

.grid-toolbar .grid-filter-container:hover {
  border-color: #606060;
}

.grid-toolbar .grid-filter-container .grid-filter-input {
  width: 130px;
  color: #333;
  height: 22px;
  padding-left: 4px;
  border-width: 0px;
  outline: none;
}

.grid-toolbar .dropdown-menu ul {
  padding: 0px;
}

.grid-toolbar .dropdown-menu .anchor {
  display: block;
  padding: 7px 10px;
  white-space: nowrap;
}

.grid-toolbar .dropdown-menu li .anchor:hover,
.grid-toolbar .dropdown-menu li .anchor:focus {
  text-decoration: none;
  color: #262626;
  background-color: #e5e5e5;
}

.grid-toolbar .dropdown-menu .dropdown-submenu-item {
  position: relative;
}

.grid-toolbar .dropdown-menu .dropdown-submenu {
  position: absolute;
  left: 100%;
  top: 0px;
  border: 2px solid #cccccc;
  list-style: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-color: #ffffff;
}

.grid-toolbar .dropdown-menu .dropdown-submenu-item .spritedimage {
  top: 2px;
}

.filter-bar .panel-component .panel-body > *{
  display: inline-block;
}
