.grid-toolbar {
  background-color: #fff;
  font-size: 12px;
}

.grid-menu-container {
  vertical-align: middle;
  padding: 7px 10px;
  display: inline-block;
  background: none;
}

.grid-menu {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 12px;
  min-width: 0;
  height: auto;
  line-height: normal;
  outline: 0;
}

.grid-menu-container:hover, .grid-groupmenu-container:hover {
  background-color: #e5e5e5;
  cursor: pointer;
}

.spritedimage {
  display: inline-block;
  margin: 0 5px;
  position: relative;
}

.icon-arrowdown-normal {
  background: transparent url('./sharedUI_14.png') no-repeat scroll -2px -860px;
  width: 9px;
  height: 5px;
  overflow: hidden;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 0px;
  margin: 2px 0 0;
  list-style: none;
  font-size: 12px;
  background-color: #ffffff;
  border: 2px solid #cccccc;
  border-radius: 0px;
  background-clip: padding-box;
}

.dropdown-menu .dropdown-header {
  padding: 7px 10px;
  font-weight: bold;
  font-size: 12px;
  cursor: auto;
}

.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 11px;
  line-height: 1.45833333;
  color: #666666;
}

.dropdown-menu > li > .anchor:hover,
.dropdown-menu > li > .anchor:focus {
  text-decoration: none;
  color: #262626;
  background-color: #e5e5e5;
}

.dropdown-menu > li > .anchor {
  display: block;
  padding: 7px 10px;
  clear: both;
  font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.45833333;
  color: #333333;
  white-space: nowrap;
}

.dropdown-menu > li .primary {
  padding-right: 80px;
}

.dropdown-menu > li .secondary {
  font-size: 10.2px;
  line-height: 17.5px;
  position: absolute;
  right: 10px;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 7.5px 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  margin: 3px 5px;
  cursor: auto;
  clear: both;
}

.dropdown-menu > li .glyphicon-offset-left5 {
  margin-right: 5px;
}

.dropdown-menu > li .glyphicon {
  width: 12px;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button.filter_search_icon_small {
  margin: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  min-width: 0;
  padding: 0;
  line-height: normal;
}

.filter_search_icon_small {
  background: transparent url('./sharedUI_14.png') no-repeat scroll -2px -443px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}

button.filter_search_icon_small {
  vertical-align: middle;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.wunderbartreeclose, .grid-expand-icon, .expand .alert-arrow-icon {
  background: transparent url('./sharedUI_18.png') no-repeat scroll -2px -1486px;
  width: 5px;
  height: 10px;
  overflow: hidden;
  cursor: pointer;
}

.toolbar-icon.toolbar-icon-left {
  margin-left: 0px;
  margin-right: 4px;
}

.icon-export-normal {
  background: transparent url('./sharedUI_18.png') no-repeat scroll -2px -983px;
  width: 9px;
  height: 12px;
  overflow: hidden;
}